### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**//nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
!**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/

### MacOS ###
**/.DS_Store

### misc ###
**/target
**/HELP.md
.env
scripts/tag_and_push_image.sh

# exclude data and database folders
data/nmrshiftdb/
data/acd_labs_predictions
data/db-mongo
data/db-postgres
# exclude custom filters folder within lsd folder
data/lsd/filters/
